/*** 

====================================================================
Reset
====================================================================

***/

*{
    margin:0px;
    padding:0px;
    border:none;
    outline:none;
    font-size: 100%;
}

/*** 

====================================================================
Global Settings
====================================================================

***/

textarea{
    overflow:hidden;    
    resize: none;
}

button{
    outline: none !important;
    cursor: pointer;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

figure.image{
    margin-bottom: 0;
}

.title a{
    color: inherit;
}

.color1{color: var(--theme-color1);}

.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
    z-index: 9;
}

.large-container {
    position: static;
    max-width:var(--large-container-width);
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

.auto-container{
    position:static;
    max-width:var(--container-width);
    padding:0px 15px;
    margin:0 auto;
    width: 100%;
}

.small-container{
    position:static;
    max-width:var(--small-container-width);
    padding:0px 15px;
    margin: 0 auto;
    width: 100%;
}

.bg{
    @include overlay;
    @include background;
}

.bg-pattern-1{background-image: url(../images/icons/pattern-1.png);}
.bg-pattern-2{background-image: url(../images/icons/pattern-2.png);}
.bg-pattern-3{background-image: url(../images/icons/pattern-3.png);}
.bg-pattern-4{background-image: url(../images/icons/pattern-4.png);}
.bg-pattern-5{background-image: url(../images/icons/pattern-5.png);}
.bg-pattern-6{background-image: url(../images/icons/pattern-6.png);}
.bg-pattern-7{background-image: url(../images/icons/pattern-7.png);}
.bg-pattern-8{background-image: url(../images/icons/pattern-8.png);}
.bg-pattern-9{background-image: url(../images/icons/pattern-9.png);}


/*=======================
    Preloader
=======================*/

.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #ffffff;
    img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &:after {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 260px;
        height: 260px;
        margin-left: -130px;
        margin-top: -130px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(../images/icons/preloader.png);
        background-size: 260px;
        animation: fa-spin 20s infinite linear;
        content: "";
    }
    &:before {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: -10px;
        color: var(--theme-color1);
        font-family: var(--text-font);
        font-family: var(--title-font);
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        content: 'Loading';
        transition: none;
    }
}


/*=======================
Scroll To Top style
=======================*/

.scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: var(--theme-color1);
    z-index: 100;
    display: none;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
    transition: all 300ms ease;
    &:hover {
        background: var(--theme-color3);
        color: #ffffff;
    }
}


/*======================
    Tabs Box
======================*/

.tabs-box{
    position: relative;
    .tab {
        display: none;
        &.active-tab {
            display: block;
        }
    }
}


/*=======================
    List Styles
=======================*/

.list-style-one {
    position: relative;
    display: flex;
    padding: 10px 0;
    li {
        position: relative;
        display: flex;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        color: var(--theme-color2);
        margin-right: 30px;
        letter-spacing: 0;
        i {
            position: relative;
            color: var(--theme-color1);
            font-size: 16px;
            line-height: 30px;
            margin-right: 10px;
        }
        a {
            display: block;
            color: var(--theme-color2);
            transition: all 300ms ease;
            &:hover{
                color: var(--theme-color1);
            }
        }
    }
}

// List style two
.list-style-two {
    position: relative;
    li {
        position: relative;
        margin-bottom: 16px;
        padding-left: 32px;
        &:last-child {margin-bottom: 0;}
        i {
            position: absolute;
            top: 0;
            left: 0;
            color: var(--theme-color-dark);
            font-size: 16px;
            border-radius: 50%;
        }
    }
    &.light {
        li {
            color: var(--theme-color-light);
        }
    }
    &.two-column{
        display: flex;
        flex-wrap: wrap;
        li{
            width: 50%;
            @include media-breakpoint-down(md){
                width: 100%;
            }
        }
    }
}

/*===========================
    Social Icons Styles
============================*/
.social-icon-one{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    li{
        margin-left: 10px;
        display: inline-flex;
        &:last-child{
            margin-right: 0;
        }
        a{
            position: relative;
            color: var(--theme-color-light);
            font-size: 16px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            border: 1px solid var(--theme-color-light);
            background-color: transparent;
            text-align: center;
            transition: all 300ms ease;
            z-index: 9;
            i {position: relative;}
            &:before {
                content: '';
                @include overlay;
                background-color: var(--bg-theme-color1);
                color: var(--theme-color-dark);
                border-radius: 50%;
                transform: scale(0);
                transition: all 300ms ease;
            }
            &:hover {
                border-color: var(--bg-theme-color1);
                &::before {
                    transform: scale(1);
                }
            }
        }
    }
}


.social-icon-two{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    li{
        margin-left: 10px;
        display: inline-flex;
        &:first-child{
            margin-left: 0;
        }
        a{
            position: relative;
            color: var(--theme-color-dark);
            font-size: 18.15px;
            width: 60px;
            height: 60px;
            line-height: 60px;
            border-radius: 50%;
            border: 1px solid #e3e3e3;
            background-color: transparent;
            text-align: center;
            transition: all 300ms ease;
            box-shadow: 0 21px 10px rgba(4, 4, 4, .05);
            i {position: relative;}
            &:before {
                content: '';
                @include overlay;
                background-color: var(--bg-theme-color1);
                color: var(--theme-color-dark);
                border-radius: 50%;
                transform: scale(0);
                transition: all 300ms ease;
            }
            &:hover {
                color: var(--theme-color-light);
                border-color: var(--bg-theme-color1);
                &::before {
                    transform: scale(1);
                }
            }
        }
    }
}


/*======================
    The Radio Box
======================*/
.custom-radio-box{
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    user-select: none;
    color: var(--theme-color-dark);
    input {
        position: absolute !important;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: 1px;
        left: 0;
        height: 14px;
        width: 14px;
        background-color: var(--theme-color2);
        border-radius: 50%;
        &:after {
            content: "";
            position: absolute;
            display: none;
            top: 3.5px;
            left: 3.5px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: var(--theme-color-light);
        }
    }
    input ~ .checkmark {
        background-color: #9a9a9a;
    }
    input:checked ~ .checkmark {
        background-color: var(--bg-theme-color3);
    }
    input:checked ~ .checkmark:after {
        display: block;
    }
}


.custom-radio-box-two{
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    user-select: none;
    color: var(--theme-color-dark);
    input {
        position: absolute !important;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: var(--theme-color2);
        border-radius: 50%;
        &:after {
            content: "";
            position: absolute;
            display: none;
            top: 5px;
            left: 5px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #f6e8db;
        }
    }
    input ~ .checkmark {
        background-color: #9a9a9a;
    }
    input:checked ~ .checkmark {
        background-color: var(--bg-theme-color1);
    }
    input:checked ~ .checkmark:after {
        display: block;
    }
}

/*======================
    Play Buttons
======================*/

.play-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    .icon{
        position: relative;
        height: 60px;
        width: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 50%;
        font-size: 20px;
        color: var(--theme-color1);
        background-color: var(--theme-color-light);
        border: 1px solid var(--theme-color1);
        transition: all 300ms ease;
    }
    .title{
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        padding: 10px 25px;
        text-transform: capitalize;
        padding-left: 30px;
        margin-left: -10px;
        color: var(--theme-color2);
        background: var(--theme-color-gray);
        border-radius: 0px 22px 22px 0px;
        transition: all 300ms ease;
    }
    &:hover {
        .icon{
            background-color: var(--bg-theme-color1);
            color: var(--theme-color-light);
        }
        .title{
            background-color: var(--bg-theme-color2);
            color: var(--theme-color-light);
        }
    }
}

/*======================
    Media Play Button 
======================*/

.play-now {
	position: relative;
	display: block;
	z-index: 9;
	transition: all 300ms ease;
    .icon{
        position: relative;
        display: inline-block;
        height: 85px;
        width: 85px;
        text-align: center;
        line-height: 85px;
        background-color: #ffffff;
        color: var(--bg-theme-color2);
        z-index: 1;
        font-size: 18px;
        display: block;
        border-radius: 50%;
        box-shadow: 0  0px 10px 0 rgba(255, 255, 255, .3);
        transform-origin:center; 
    }
    .ripple{
        &:before,
        &:after{
            position: absolute;
            top: 50%;
            left: 50%;
            height: 70px;
            width: 70px;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
            animation: ripple 3s infinite;
            content: "";
        }
        &.light {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
        }
        &:before{animation-delay: .9s;}
        &::after{animation-delay: .6s;}
    }
}
@keyframes ripple {
	70% {-webkit-box-shadow: 0 0 0 50px rgba(233, 35, 47, 0);box-shadow: 0 0 0 50px rgba(233, 35, 47, 0);}
	100% {-webkit-box-shadow: 0 0 0 0 rgba(233, 35, 47, 0);box-shadow: 0 0 0 0 rgba(233, 35, 47, 0);}
}


/*======================
    Carousel Navs
======================*/

.default-navs{
    z-index: 9;
    .owl-nav{
        display: flex;
        align-items: center;
    }
    .owl-next,
    .owl-prev {
        display: block;
        width: 60px;
        height: 60px;
        font-size: 20px;
        font-weight: 700;
        line-height: 58px;
        color: var(--theme-color-dark);
        background: var(--theme-color-light);
        border: 1px solid #E3E3E3;
        text-align: center;
        transition: all 500ms ease;
        border-radius: 50%;
        margin-left: 20px;
        box-shadow: 0 21px 10px rgba(0, 0, 0, 0.05);
        &:hover {
            color: var(--theme-color-light);
            background-color: var(--bg-theme-color5);
            border-color: var(--theme-color5);
        }
    }
    .owl-prev{
        margin-left: 0;
    }
}



.default-dots{
    padding-bottom: 0;
    .owl-dots {
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
        .owl-dot {
            height: 3px;
            width: 60px;
            background-color: #dfdfdf;
            margin-right: 18px;
            transition: all 300ms ease;
            @include media-breakpoint-down(sm){
                width: 30px;
            }
            &.active {
                background-color: var(--bg-theme-color5);
            }
        }
    }
}

.disable-navs{.owl-nav{display: none;}}

/*==========================
	Default Tabs
===========================*/

.default-tabs {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    .tab-buttons {
        position: relative;
        margin-bottom: 30px;
    }
    .tab-btn{
        position: relative;
        float: left;
        font-weight: 600;
        font-size: 18px;
        padding: 15px 35px;
        color: var(--theme-color1);
        line-height: 20px;
        border-radius: 5px;
        background-color: #ffffff;
        cursor: pointer;
        margin-right: 20px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
        &:last-child {
            margin-right: 0;
        }
        &.active-btn{
            background: var(--gradient-1);
            color: #ffffff;
        }
    }
    .tabs-content {
        position: relative;
        width: 100%;
    }
}

/*================================
    Progress Bar
=================================*/

.skills {
    position: relative;
    margin-bottom: 50px;
    .skill-item {
        position: relative;
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0px;
        }
        .skill-header {
            position: relative;
            margin-bottom: 0px;
            .skill-title {
                font-weight: 600;
                color: var(--theme-color-dark);
                letter-spacing: 0;
                margin-bottom: 10px;
            }
        }
        .skill-bar {
            position: relative;
            width: 100%;
            height: 14px;
            border-radius: 10px;
            .bar-inner {
                position: relative;
                width: 100%;
                height: 14px;
                background: #f2f3f6;
                border-radius: 10px;
                .bar {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    height: 14px;
                    width: 0px;
                    transition: all 3000ms ease;
                    border-radius: 10px;
                    background: var(--bg-theme-color1);
                }
                .skill-percentage {
                    position: absolute;
                    right: 0;
                    bottom: 100%;
                    font-weight: 400;
                    color: #6f7174;
                    line-height: 25px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}