/*** 

====================================================================
	Testimonial Section
====================================================================

***/

.testimonial-section{
  position: relative;
  padding: 120px 0 120px;
  .sec-title {
    margin-bottom: 20px;
    @include media-breakpoint-down(xl){
      text-align: center;
    }
  }
  .testimonial-navs{
    position: absolute;
    right: 0;
    left: 0;
    top: -180px;
    max-width: 1310px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    padding: 0 15px;
    @include media-breakpoint-down(xl){
      position: relative;
      top: 0;
      justify-content: center;
      margin-top: 30px;
    }
    .testi-prev,
    .testi-next {
      display: block;
      width: 68px;
      height: 68px;
      font-size: 20px;
      font-weight: 700;
      line-height: 68px;
      color: var(--theme-color-dark);
      background: #fff;
      box-shadow: 0 21px 10px rgba(4, 4, 4, .05);
      border: 1px solid #E3E3E3;
      text-align: center;
      transition: all 500ms ease;
      border-radius: 50%;
      margin-left: 20px;
      &:hover {
        color: var(--theme-color-light);
        border-color: var(--bg-theme-color1);
        background-color: var(--bg-theme-color1);
      }
    }
  }
  .carousel-outer {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    .testimonial-block {
      padding: 10px 30px;
      @include media-breakpoint-down(lg){
        padding: 0 15px;
      }
    }
    .testimonial-slider{
      overflow: hidden;
    }
  }


    // Styled Pagination
    .styled-pagination{
      position: relative;
      max-width: 443px;
      margin: 0 auto;
      width: 100%;
      height: 4px !important;
      margin-top: 30px;
      border-radius: 10px;
      overflow: hidden;
      background-color: #bfbfbf;
      @include media-breakpoint-down(sm){
        max-width: 280px;
      }
      .swiper-pagination-progressbar-fill{
        background: var(--bg-theme-color1);
        &::before{
          position: absolute;
          top: -7px;
          right: 0;
          height: 7px;
          width: 7px;
          background-color: var(--bg-theme-color1);
          border-radius: 50%;
          content: "";
          transform: none;
          display: none;
        }
      }
    }

  }

  .testimonial-block{
    position: relative;
    margin-bottom: 30px;
    .inner-box{
      position: relative;
      border: 2px solid #f2f2f2;
      padding: 0 80px 85px;
      margin: 0 auto;
      margin-top: 67px;
      text-align: center;
      @include media-breakpoint-down(xl){
        padding: 0 30px 30px;
      }
      @include media-breakpoint-down(lg){
        margin-top: 80px;
      }
      &:before {
        content: '';
        position: absolute;
        top: -25px;
        right: -40px;
        width: 206px;
        height: 200px;
        background-image: url(../images/icons/flowers-4.png);
        background-repeat: no-repeat;
        animation: zoom-two 5s infinite linear;
        @include media-breakpoint-down(lg){
          opacity: .1;
        }
      }
      &:after {
        content: '';
        position: absolute;
        bottom: -25px;
        left: -40px;
        width: 206px;
        height: 200px;
        background-image: url(../images/icons/flowers-4-2.png);
        background-repeat: no-repeat;
        animation: zoom-two 5s infinite linear;
        animation-delay: 3s;
        @include media-breakpoint-down(lg){
          opacity: .1;
        }
      }
      &:hover {
        .image-box {
          .image {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
      .image-box {
        position: relative;
        margin-top: -78px;
        margin-bottom: 15px;
        .image {
          position: relative;
          display: inline-block;
          box-shadow: 0 21px 10px rgba(4, 4, 4, .05);
          width: 180px;
          height: 180px;
          border: 12px solid var(--theme-color-light);
          border-radius: 50%;
          outline: 1px solid #c1c1c1;
          overflow: hidden;
          margin-bottom: 0;
          z-index: 1;
          img {
            border-radius: 50%;
            transition: all 300ms ease;
          }
        }
      }
      .content-box{
        position: relative;
        .name{
          color: var(--theme-color-dark);
          font-family: var(--title-font);
          font-weight: 500;
          font-size: 26px;
          margin-bottom: 0px;
        }
        .designation {
          display: block;
          color: #282828;
          font-family: var(--text-font);
          font-weight: 400;
          font-size: 16px;
          margin-bottom: 40px;
        }
        .text {
          font-weight: 600;
          margin-bottom: 0;
          line-height: 32px;
        }
      }
    }
  }

/*** 

====================================================================
	Testimonial Section Two
====================================================================

***/

.testimonial-section-two {
  position: relative;
  padding: 120px 0 90px;
  .sec-title {
    margin-bottom: 20px;
    @include media-breakpoint-down(lg){
      text-align: center;
      br {display: none;}
    }
    .sub-title {
      font-size: 22px;
      font-weight: 800;
    }
  }
  .default-navs {
    .owl-nav{
      position: absolute;
      top: -140px;
      right: 0;
      @include media-breakpoint-down(lg){
        position: relative;
        top: 0;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
  }
  .default-dots{
    .owl-dots {
      position: absolute;
      bottom: 80px;
      left: -0px;
      @include media-breakpoint-down(xxl){
        display: none;
      }
    }
  }
}

.testimonial-block-two {
  position: relative;
  .inner-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 25px;
    padding-right: 30px;
    @include media-breakpoint-down(lg){
      flex-direction: column;
      padding: 30px 20px;
    }
    .image-box {
      position: relative;
      padding: 20px 30px;
      @include media-breakpoint-down(lg){
        margin-bottom: 20px;
      }
      .image {
        min-width: 390px;
        @include media-breakpoint-down(sm){
          min-width: 100%;
        }
        img {
          border-radius: 50%;
        }
      }
      .testi-frame {
        position: absolute;
        top: -20px;
        left: -40px;
        background-repeat: no-repeat;
        @include media-breakpoint-down(sm){
          left: -4.5%;
          top: 0;
          height: 100%;
          width: 100%;
          background-size: cover;
        }
      }
    }
    .content-box{
      position: relative;
      padding-left: 70px;
      padding-bottom: 70px;
      @include media-breakpoint-down(xl){
        padding-left: 40px;
      }
      @include media-breakpoint-down(lg){
        padding-left: 0;
        text-align: center;
        padding-bottom: 0;
      }
      .text {
        position: relative;
        color: #777;
        font-size: 24px;
        line-height: 44px;
        margin-bottom: 20px;
        @include media-breakpoint-down(lg){
          margin-bottom: 20px;
        }
        @include media-breakpoint-down(sm){
          font-size: 18px;
          line-height: 1.4em;
        }
      }
      .name{
        color: var(--theme-color-dark);
        font-family: var(--title-font);
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 0;
        line-height: 47px;
        @include media-breakpoint-down(sm){
          font-size: 24px;
          line-height: 1.2em;
        }
      }
      .designation {
        color: var(--theme-color-dark);
        font-family: var(--text-font);
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 0;
        margin-left: 20px;
        @include media-breakpoint-down(lg){
          display: block;
          margin-left: 0;
        }
      }
    }
  }
}

/*** 

====================================================================
	Testimonial Section Three
====================================================================

***/

.testimonial-section-three {
  position: relative;
  background-color: #f7f7f7;
  padding: 120px 0 120px;
  z-index: 1;
  .icon-flower-17 {
    position: absolute;
    bottom: 20px;
    left: -220px;
    @include media-breakpoint-down(lg){
      opacity: .15;
    }
  }
  .icon-flower-18 {
    position: absolute;
    top: 40px;
    right: -80px;
    @include media-breakpoint-down(lg){
      opacity: .15;
    }
  }
  .sec-title {
    margin-bottom: 10px;
  }
  .default-navs {
    .owl-nav{
      position: absolute;
      top: -160px;
      right: 0;
    }
  }

  .default-navs-two{
    z-index: 9;
    .owl-nav{
      display: flex;
      align-items: center;
      @include media-breakpoint-down(md){
        display: none;
      }
    }
    .owl-next,
    .owl-prev {
      position: relative;
      display: block;
      font-size: 30px;
      font-family: var(--title-font);
      font-weight: 400;
      line-height: 47px;
      color: var(--theme-color-dark);
      transition: all 300ms ease;
      &:hover {
        color: var(--theme-color6);
      }
    }
    .owl-prev{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      margin-left: 30px;
      @include media-breakpoint-down(xxl){
        left: 50px;
      }
      @include media-breakpoint-down(xl){
        left: 0;
        margin-left: 0;
      }
      @include media-breakpoint-down(md){
        top: auto;
        left: 40%;
        bottom: -100px;
        transform: translateX(-50%);
      }
      @include media-breakpoint-down(sm){
        left: 0;
        transform: none;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 135px;
        height: 12px;
        background-image: url(../images/icons/icon-arrow.png);
        @include media-breakpoint-down(xl){
          display: none;
        }
      }
    }
    .owl-next{
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      margin-left: 30px;
      @include media-breakpoint-down(xxl){
        right: 50px;
      }
      @include media-breakpoint-down(xl){
        right: 0;
        margin-left: 0;
      }
      @include media-breakpoint-down(md){
        top: auto;
        right: 40%;
        bottom: -100px;
        transform: translateX(50%);
      }
      @include media-breakpoint-down(sm){
        right: 0;
        transform: none;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 135px;
        height: 12px;
        background-image: url(../images/icons/icon-arrow.png);
        transform: scaleX(-1);
        @include media-breakpoint-down(xl){
          display: none;
        }
      }
    }
  }
}
.testimonial-section-three .default-navs-two .swiper-button-prev,
.testimonial-section-three .default-navs-two .swiper-button-next{
  width: 120px;
}
.testimonial-section-three .default-navs-two .swiper-button-prev:after,
.testimonial-section-three .default-navs-two .swiper-button-next:after{
  background-image: url(../images/icons/icon-arrow.png);
  bottom: 0;
  content: "";
  height: 12px;
  position: absolute;
  right: 0;
  width: 120px;
  @include media-breakpoint-down(md){
    display: none;
  }
}
.testimonial-section-three .default-navs-two .swiper-button-next:after{
  transform: scaleX(-1);
}
.testimonial-block-three {
  position: relative;
  .inner-box{
    position: relative;
    min-height: 707px;
    @include flex-center;
    text-align: center;
    @include media-breakpoint-down(lg){
      min-width: auto;
      min-height: auto;
      padding-top: 30px;
    }
    .testi3-frame {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-52%);
      @include media-breakpoint-down(lg){
        display: none;
      }
    }
    .content-box{
      position: relative;
      max-width: 400px;
      margin: 0 auto;
      .icon {
        display: inline-block;
        margin-bottom: 30px;
      }
      .text {
        position: relative;
        color: #777;
        font-size: 22px;
        line-height: 40px;
        margin-bottom: 25px;
        br {
          @include media-breakpoint-down(sm){
            display: none;
          }
        }
      }
      .name{
        color: var(--theme-color-dark);
        font-family: var(--title-font);
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 0;
        line-height: 1em;
      }
      .designation {
        color: var(--theme-color-dark);
        font-family: var(--text-font);
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 0;
      }
    }
  }
}